{% include 'head.twig' %}
<nav class="nav">
    <a class="nav-link" href="{{ app.url_generator.generate('about') }}">About us</a>
    <a class="nav-link" href="{{ app.url_generator.generate('coworking') }}">Coworking</a>
    <a class="nav-link is-active" href="{{ app.url_generator.generate('lectorium') }}">Lectorium</a>
    <a class="nav-link" href="{{ app.url_generator.generate('shop') }}">Shop</a>
    <a class="nav-link" href="{{ app.url_generator.generate('concept') }}">Concept</a>
    <a class="nav-link" href="{{ app.url_generator.generate('contacts') }}">Contacts</a>
</nav>

<section class="hero m-lectorium">
    <div class="row">
        <a href="/" class="logo"></a>
    </div>
    <div class="hero-content m-lectorium">
        <h1 class="hero-ttl">LECTORIUM</h1>
        <p class="hero-txt">{{ info }}</p>
    </div>
</section>

<section class="lectorium">
    <div class="row m-plr80px">
        <div class="square">
            <div class="square-headline">OUR EVENTS</div>
            <div class="square-ttl">LECTURES AND SEMINARS</div>
        </div>
    </div>
    <div class="row m-plr80px">
        <div class="lectorium-inner u-flex">
            <img src="{{ data[0].bigSrc }}" alt="" class="lectorium-inner-img item-card-item-large">
            <div class="lectorium-inner-description">
                <div class="lectorium-inner-date">
                    <div class="lectorium-inner-date-day">{% if data[0].day|length ==1 %}0{% endif %}{{ data[0].day }}</div>
                    <div class="lectorium-inner-date-month">{{ data[0].month }}</div>
                </div>
                <h1 class="lectorium-inner-ttl">{{ data[0].name }}</h1>
                <p class="lectorium-inner-txt">{{ data[0].data }}</p>
            </div>
        </div>
    </div>
</section>

<section class="aside">
    <div class="row u-flex m-plr80px m-flex-wrap">
        {% for item in data %}
            <a class="item-card lectorium-item-card">
                <div class="item-card-header">
                    <img class="item-card-img" src="{{ item.dest }}" alt="">
                    <img class="item-card-img" style="display:none" src="{{ item.bigSrc }}" alt="">
                </div>
                <div class="item-card-data m-smallPadding">
                    <div class="item-card-dash dash"></div>
                    <div class="item-card-date">
                        <div class="item-card-date-day">{% if item.day|length ==1 %}0{% endif %}{{ item.day }}</div>
                        <div class="item-card-date-month">{{ item.month }}</div>
                    </div>
                    <p class="item-card-upperTxt">
                        {{ item.name }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</section>
{% include 'footer.twig' %}