<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prostir</title>
    <link rel="stylesheet" href="../../src/css/styles.css">
</head>
<body>

<nav class="nav">
    <a class="nav-link" href="{{ app.url_generator.generate('about') }}">About us</a>
    <a class="nav-link" href="{{ app.url_generator.generate('coworking') }}">Coworking</a>
    <a class="nav-link" href="{{ app.url_generator.generate('lectorium') }}">Lectorium</a>
    <a class="nav-link is-active" href="{{ app.url_generator.generate('shop') }}">Shop</a>
    <a class="nav-link" href="{{ app.url_generator.generate('concept') }}">Concept</a>
    <a class="nav-link" href="{{ app.url_generator.generate('contacts') }}">Contacts</a>
</nav>

<section class="hero m-shop">
    <div class="row">
        <a href="/" class="logo"></a>
    </div>
    <div class="hero-content m-shop">
        <h1 class="hero-ttl">shop</h1>
    </div>
</section>

<section class="shopItem">
    <div class="row">
        <div class="backNav">
            <a class="backNav-link" href="{{ app.url_generator.generate('shop') }}">GO BACK TO SHOP</a>
        </div>
    </div>
    <div class="shopItem-inner u-flex">
        <div class="shopItem-gallery">
            <div class="shopItem-gallery-inner">
                <img class="shopItem-gallery-mainImg" src="../{{ data[0]['dest'] }}" alt="">
                <ul id="shopItemGalleryCarousel" class="shopItem-gallery-carousel  u-flex m-aligncenter">
                    <li class="shopItem-gallery-carouselItem is-active">
                        <img class="shopItem-gallery-carouselImg"
                             src="../{{ data[0]['dest'] }}" alt="">
                    </li>
                    <li class="shopItem-gallery-carouselItem">
                        <img class="shopItem-gallery-carouselImg"
                             src="../{{ data[1]['dest'] }}" alt="">
                    </li>
                    <li class="shopItem-gallery-carouselItem">
                        <img class="shopItem-gallery-carouselImg"
                             src="../{{ data[2]['dest'] }}" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="shopItem-details">
            <div class="dash"></div>
            <h1 class="shopItem-ttl">{{ data[0]['sname'] }}</h1>
            <h3 class="shopItem-subttl">CONCRETE FLOWERPOOL {{ data[0]['year'] }}</h3>
            <p class="shopItem-description">{{ data[0]['descr'] }}
            </p>
            <div class="u-flex">
                <div class="shopItem-price">{{ data[0]['price']}}.00 UAH</div>
                <button id="shopItemOrderBtn" class="button shopItem-orderBtn" data-id="2">ORDER</button>
            </div>
        </div>
    </div>
</section>
<section class="aside">
    <div class="row m-plr80px m-flex-wrap">
        <h1 class="aside-h1 h1">
            <span>OTHER
            {% if data[0]['type'] ==1 %} CHAIRS
                {% elseif data[0]['type']==2%} LIGHTING
                {% elseif data[0]['type']==3%} BENCH
                {% elseif data[0]['type']==4%} STORAGE
                {% endif %}
            </span>
            <a class="aside-h1Link linkButton" href="{{ app.url_generator.generate('shop') }}">ALL PRODUCTS</a>
        </h1>
    </div>
    <div class="row u-flex m-plr80px m-flex-wrap">
        {% for item in also %}
            <a class="item-card" href="{{ app.url_generator.generate('product', {'id': item.ids}) }}">
                <div class="item-card-header">
                    <img class="item-card-img" src="{{ item.dest }}" alt="">
                    {% if item.is3d == 1 %}<div class="item-card-3d"></div> {% endif %}
                </div>
                <div class="item-card-data">
                    <div class="item-card-dash dash"></div>
                    <div class="item-card-ttl">{{ item.name }}</div>
                    <div class="item-card-desc">{{ item.descr }}, {{ item.year }}</div>
                    <div class="item-card-price">{{ item.price }}.00 uah</div>
                </div>
            </a>
        {% endfor %}
    </div>
</section>

<footer class="footer">
    <p class="footer-copy">© Pravda studio. 2B.GROUP. All Rights Reserved</p>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhlDD8JJd35i5hX-4td4MSBU0L3XM5USc"
        type="text/javascript"></script>
<script src="../src/js/vendor/jquery.js"></script>
<script src="../src/js/vendor/owl.js"></script>
<script src="../src/js/bundle.js"></script>

</body>
</html>