{% include 'head.twig' %}
<nav class="nav">
    <a class="nav-link" href="{{ app.url_generator.generate('about') }}">About us</a>
    <a class="nav-link" href="{{ app.url_generator.generate('coworking') }}">Coworking</a>
    <a class="nav-link" href="{{ app.url_generator.generate('lectorium') }}">Lectorium</a>
    <a class="nav-link is-active" href="{{ app.url_generator.generate('shop') }}">Shop</a>
    <a class="nav-link" href="{{ app.url_generator.generate('concept') }}">Concept</a>
    <a class="nav-link" href="{{ app.url_generator.generate('contacts') }}">Contacts</a>
</nav>

<section class="hero m-shop">
    <div class="row">
        <a href="/" class="logo"></a>
    </div>
    <div class="hero-content m-shop">
        <h1 class="hero-ttl">shop</h1>
        <p class="hero-txt"></p>
    </div>
</section>

<section class="shop">
    <div class="row m-plr80px">
        <div class="shop-header u-flex m-aligncenter">

            <div class="shop-square square">
                <div class="square-headline">Shop</div>
                <div class="square-ttl">Our products</div>
            </div>

            <div class="basket-link">
                <span>YOUR BASKET</span>
                <span>(</span>
                <span class="basket-link-counter">2</span>
                <span>)</span>
            </div>
        </div>
    </div>
    <div class="row m-plr80px">
        <div class="shop-nav u-flex m-aligncenter">
            <a class="shop-nav-cat is-active" href="#" data-cat-id="1">
                <div class="shop-nav-cat-head">
                    <img class="shop-nav-cat-img" src="../src/img/icons/chairs.png" alt="">
                </div>
                <div class="shop-nav-cat-ttl">CHAIRS</div>
            </a>
            <a class="shop-nav-cat" href="#" data-cat-id="2">
                <div class="shop-nav-cat-head">
                    <img class="shop-nav-cat-img" src="../src/img/icons/lighting.png" alt="">
                </div>
                <div class="shop-nav-cat-ttl">LIGHTING</div>
            </a>
            <a class="shop-nav-cat" href="#" data-cat-id="3">
                <div class="shop-nav-cat-head">
                    <img class="shop-nav-cat-img" src="../src/img/icons/bench.png" alt="">
                </div>
                <div class="shop-nav-cat-ttl">BENCH</div>
            </a>
            <a class="shop-nav-cat" href="#" data-cat-id="4">
                <div class="shop-nav-cat-head">
                    <img class="shop-nav-cat-img" src="../src/img/icons/storage.png" alt="">
                </div>
                <div class="shop-nav-cat-ttl">STORAGE</div>
            </a>
        </div>
        <div id="shopItems" class="shop-items u-flex m-flex-wrap">
            {% for item in data['chairs'] %}
                <a class="item-card" href="{{ app.url_generator.generate('product', {'id': item.ids}) }}">
                    <div class="item-card-header">
                        <img class="item-card-img" src="{{ item.dest }}" alt="">
                        {% if item.is3d == 1 %}<div class="item-card-3d"></div> {% endif %}
                    </div>
                    <div class="item-card-data">
                        <div class="item-card-dash dash"></div>
                        <div class="item-card-ttl">{{ item.name }}</div>
                        <div class="item-card-desc">{{ item.descr }}, {{ item.year }}</div>
                        <div class="item-card-price">{{ item.price }}.00 uah</div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div style='display:none' id="shopItems" class="shop-items u-flex m-flex-wrap">

            {% for item in data['lighting'] %}
                <a class="item-card"  href="{{ app.url_generator.generate('product', {'id': item.ids}) }}">
                    <div class="item-card-header">
                        <img class="item-card-img" src="{{ item.dest }}" alt="">
                        {% if item.is3d == 1 %}<div class="item-card-3d"></div> {% endif %}
                    </div>
                    <div class="item-card-data">
                        <div class="item-card-dash dash"></div>
                        <div class="item-card-ttl">{{ item.name }}</div>
                        <div class="item-card-desc">{{ item.descr }}, {{ item.year }}</div>
                        <div class="item-card-price">{{ item.price }}.00 uah</div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div style='display:none' id="shopItems" class="shop-items u-flex m-flex-wrap">

        {% for item in data['bench'] %}
                <a class="item-card"  href="{{ app.url_generator.generate('product', {'id': item.ids}) }}">
                    <div class="item-card-header">
                        <img class="item-card-img" src="{{ item.dest }}" alt="">
                        {% if item.is3d == 1 %}<div class="item-card-3d"></div> {% endif %}
                    </div>
                    <div class="item-card-data">
                        <div class="item-card-dash dash"></div>
                        <div class="item-card-ttl">{{ item.name }}</div>
                        <div class="item-card-desc">{{ item.descr }}, {{ item.year }}</div>
                        <div class="item-card-price">{{ item.price }}.00 uah</div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div style='display:none' id="shopItems" class="shop-items u-flex m-flex-wrap">
            {% for item in data['storage'] %}
                <a class="item-card"  href="{{ app.url_generator.generate('product', {'id': item.ids}) }}">
                    <div class="item-card-header">
                        <img class="item-card-img" src="{{ item.dest }}" alt="">
                        {% if item.is3d == 1 %}<div class="item-card-3d"></div> {% endif %}
                    </div>
                    <div class="item-card-data">
                        <div class="item-card-dash dash"></div>
                        <div class="item-card-ttl">{{ item.name }}</div>
                        <div class="item-card-desc">{{ item.descr }}, {{ item.year }}</div>
                        <div class="item-card-price">{{ item.price }}.00 uah</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
<section class="aside">
    <div class="row m-plr80px m-flex-wrap">
        <h1 class="aside-h1 h1">POPULAR PRODUCTS</h1>
    </div>
    <div class="row u-flex m-plr80px m-flex-wrap">
        {% for item in popular %}
            <a class="item-card"  href="{{ app.url_generator.generate('product', {'id': item.ids}) }}">
                <div class="item-card-header">
                    <img class="item-card-img" src="{{ item.dest }}" alt="">
                    {% if item.is3d == 1 %}<div class="item-card-3d"></div> {% endif %}
                </div>
                <div class="item-card-data">
                    <div class="item-card-dash dash"></div>
                    <div class="item-card-ttl">{{ item.name }}</div>
                    <div class="item-card-desc">{{ item.descr }}, {{ item.year }}</div>
                    <div class="item-card-price">{{ item.price }}.00 uah</div>
                </div>
            </a>
        {% endfor %}
    </div>
</section>
<section id="map" class="map"></section>
<footer class="footer">
    <p class="footer-copy">© Pravda studio. 2B.GROUP. All Rights Reserved</p>
</footer>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhlDD8JJd35i5hX-4td4MSBU0L3XM5USc"
        type="text/javascript"></script>
<script src="../src/js/vendor/jquery.js"></script>
<script src="../src/js/vendor/owl.js"></script>
<script src="../src/js/bundle.js"></script>

</body>
</html>