<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prostir Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Prostir</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ app.url_generator.generate('admin_about') }}">About</a></li>
                <li><a href="{{ app.url_generator.generate('admin_coworking') }}">Coworking</a></li>
                <li class="active"><a href="{{ app.url_generator.generate('admin_lectorium') }}">Lectorium</a></li>
                <li><a href="{{ app.url_generator.generate('admin_shop') }}">Shop</a></li>
                <li><a href="{{ app.url_generator.generate('admin_concept') }}">Concept</a></li>
                <li><a href="{{ app.url_generator.generate('admin_contacts') }}">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template"><br><br><br>
        <h1>Coworking friends</h1>
        <form  method="POST" enctype="multipart/form-data"  action="{{ app.url_generator.generate('admin_lectorium_img_add') }}">
            Name <br>
            <input type="hidden" name='alias' value = "{{ id }}"/>
            <input name='name' value="{{ name }}"/>
            <br>Day
            <input name='date' value="{{ day }}"/>
            <br>Month
            <input name='month' value="{{ month }}"/>
            <br>Data <br>
            <textarea style="width: 300px; height: 150px;" name="data" >{{ item }}</textarea> <br>
            <img src="{{ src }}" alt="" width="400"/>
            <input type="file" name="userfile" height="540" width="306">
            <p><input type="submit"></p>
        </form>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
